.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 5; 
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
  }
  
  .side-drawer a {
    text-decoration: none;
    color: 	#003153;
    font-size: 1.2rem;
  }
  
  .side-drawer a:hover{
    color: #dc143c;
  }
  
  @media screen and (min-width: 759px) {
    .side-drawer {
      display: none;
    }
  }
  